/* CSS Document */
body { margin: 0px; padding: 0px; font-size: 12px; }
.t_c { text-align: center; }
.t_l { text-align: left; }
.t_r { text-align: right; }
.f_l { float: left; }
.f_r { float: right; }
.p_n { padding: 0px; }
.p_5_l { padding-left: 5px; }
.m_n { margin: 0px; }
.d_b { display: block; }
.clear { clear: both; } 
.blank5 { margin-top: 5px; }
.blank10 { margin-top: 10px; }
.blank5_r { margin-right: 5px; }
.blank10_r { margin-right: 10px; }
.b-box { width: 950px; margin-left: auto; margin-right: auto; }
.b-div { background: #000; }
h1{ font-size: 16px; font-weight: bold; padding: 0px; margin: 0px; }
a { color: #333; text-decoration: none; }
a:hover { color: #000; text-decoration: underline; }
.red { color: #FF0000; }
.blue { color: #0033FF; }
.tb-b { background: #333; line-height: 24px; width: 100%; }
	.tb-b th { background: #131313; color: #FFF; padding: 0px 10px; font-weight: normal; }
	.tb-b td { background: #FFF; padding: 0px 10px; }
.header { height: 45px; color: #FFF; }
	.header a { color: #FFF; text-decoration: none; }
	.header a:hover { text-decoration: underline; }
	.header .logo { height: 45px; width: 150px; background: url(logo.jpg) no-repeat center center; }
	.header .userinfo { margin: 10px 0 0 0; }
.cbody { background: #FFF; }
	.cbody .sidebar { width: 150px; list-style: none; margin: 0px; padding: 0px; }
	.cbody .sidebar li { list-style: none; border-bottom: 1px solid #999; color: #000; line-height: 28px; text-indent: 25px; width: 150px; }
	.cbody .sidebar .home-link { color: #FFF; background: #000 url(install.png) no-repeat 5px 7px; line-height: 28px; text-indent: 25px; width: 150px; }
	.cbody .sidebar .step-link { color: #FFF; background: #000 url(step.png) no-repeat 5px center; line-height: 28px; text-indent: 25px; width: 150px; }
	.b-area-b { width:780px; background: #000; color: #FFF; padding: 0 5px; line-height: 28px;  }
	.b-area-w { width:778px; border: 1px solid #333; padding: 5px; }
	.cbody h4 { padding: 0 0 0 5px; margin: 5px 0; border-left: 5px solid #000;  }
	.cbody .pages { border: 1px solid #333; line-height: 24px; padding: 0 5px; }
	/* Input */
	.input-a { border: 1px solid #999; width: 160px; color: #333333; background: #FFF; }
	.input-b { border: none; width: 200px; color: #333333; background: #FFF; height: 24px; }
	.input-btn { border: none; background: #fff; color: #000; margin: 5px 0px; padding: 0px 5px; line-height: 18px; cursor: pointer; }
	.input-btn-b { border: 1px solid #333; background: #131313; color: #FFF; margin: 5px 0 0 0; padding: 0px 5px; line-height: 18px; cursor: pointer; }
	.input-btn-c { border: 1px solid #333; background: #131313; color: #FFF; margin: 0; padding: 0px 5px; line-height: 14px; cursor: pointer; }
	.b-btn { color: #FFF; background: #131313; border: 1px solid #000; height: 24px; line-height: 24px; padding: 0 12px; cursor: pointer; }
	.input-textarea { border: none; color: #333333; background: #FFF; font-size: 12px; line-height: 18px; width: 100%; height: 500px; }
	.import-echo { border: none; color: #333333; background: #FFF; font-size: 12px; line-height: 18px; width: 100%; height: 200px; overflow-y: scroll; }
	/* Search */
	
.footer { color: #FFF; height: 45px; line-height: 45px; }